
html{
            font-size: 1em
        }


body {
    
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    width: 100%;
    max-width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 20px 10px 10px grey;
}

.grid h1 {
    background-color: rgb(150,20,40);
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 20px;
    
}

#score {
    color: rgb(150,20,40);
    text-align: center;
    font-size: 2rem;
}

.grid #question {
    font-size: 1.5rem;
    color: rgb(150,20,40);
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color:rgb(255,255,255); 
    width: 250px;
    font-size: 1.2rem;
    color: rgb(150,20,40);
    border: 2px solid rgb(150,20,40);
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 8px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: rgb(150,20,40);
    color: #fff;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: rgb(150,20,40);
    font-size: 1.2rem;
}

.digits, .text{
    float: left;
    color: rgb(150,20,40);
    margin-left: 7px;
    font-weight: bold;
    text-align: center;
    
}
@media (max-width: 500px){
        .buttons{
            margin-left: 25px;
        }
        #progress{
            margin-left: 20px;
        }
        .square{
            margin-top: 6px;
        }
    }   