
html{
            font-size: 1em
        }


body {
    
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

.grid {
    
    width: 50%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 20px 10px 10px grey;
}

.grid h1 {
    background-color: rgb(150,20,40);
    font-size: 3.8rem;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 20px;
    
}

#score {
    color: rgb(150,20,40);
    text-align: center;
    font-size: 2rem;
}

.grid #question {
    font-size: 1.5rem;
    color: rgb(150,20,40);
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color:rgb(255,255,255); 
    width: 250px;
    font-size: 1.2rem;
    color: rgb(150,20,40);
    border: 2px solid rgb(150,20,40);
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 8px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: rgb(150,20,40);
    color: #fff;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: rgb(150,20,40);
    font-size: 1.2rem;
}

.digits, .text{
    float: left;
    color: rgb(150,20,40);
    margin-left: 7px;
    font-weight: bold;
    text-align: center;
    
}
#hide, #hidden{
    display: none;
    background-color: rgb(150,20,40);
    padding: 8px;
    color: rgb(255,255,255);
    position: relative;
    top: 30rem;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}


.center{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(150,20,40);
    font-family: "ubuntu", "sans-serif";
    
    }
    #start{
        background-color: rgb(223, 213, 213);
        padding: 8px;
        border-radius: 4px;
        border: none;
        margin-left: 16.5rem;
        float: left;
        margin-top: 3rem;
        color: rgb(150,20,40);
        cursor: pointer;
    }
    .center h2,h3{
        text-align: center;
        margin-top: 17px;
        cursor: pointer;
        color: #ddd;
        font-size: 19px;
        font-weight: normal;
        
    }

/* mobile view*/
@media (max-width: 600px){
        #quiz h1{font-size: 25px; text-align: center; margin-top: 5px; border-radius: 1px;}
        #btn0, #btn1, #btn2, #btn3 {padding: 8px 5px;}
        .buttons{margin-left: 5px;}
        #progress{margin-left: 20px;}
        .square{margin-top: 6px;margin-left: 20px;}
        h2#score{font-size: 20px; margin-top: 35px;}
        .grid{height: 520px; width: 70%;}
        .grid #question {font-size: 1.1rem;color: rgb(150,20,40); }
        #hide, #hidden{top: 25rem;}

        .center{width: 100%; height: 350px;}
        .center  h3{font-size: 16px;}
        .center  h2{font-size: 18px; background-color: rgb(250, 246, 247); color: rgb(150,20,40);}
        #start{margin-left: 8.8rem;}
    }   

/* Tablet view*/
    @media screen and (min-width: 601px) and (max-width: 1200px){
        .grid{height: 580px; width: 80%;}

    }
